/*Desktop View*/
  .NavBar {
    display: flex;
    background: transparent;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background: #18191F;

  }

  .Option {
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 25;
  }

  .NavLink {
    color :orange
  }





